extends: default

rules:
  document-start: disable        # don’t require --- at top
  line-length:
    max: 200
    allow-non-breakable-words: true
  trailing-spaces: disable
  indentation:
    indent-sequences: consistent
  colons: disable
  brackets: disable
